<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h2><a href="/">Anonymous Journal</a></h2>
        <nav>
            <a href="/submit">Submit</a>
        </nav>
    </header>
    <main>
            <h2>halu</h2>
    </main>
    <footer>
        <small>&copy; Anonymous Journal</small>
    </footer>
</body>
</html>